<!DOCTYPE html>
<html lang="pt">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        
    <% cssLinksCentralizados.forEach(link => { %>
        <link rel="stylesheet" href="<%= link %>">
    <% }) %>

        <!-- Google tag (gtag.js) analytics-->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-REJ5H0RCBN"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'G-REJ5H0RCBN');
        </script>

        <!-- SEO Title -->
        <title>
            Inventários de Activos Patrimoniais
        </title>

        <!-- Meta Description -->
        <meta name="description"
            content="A Prolog Soluções é uma empresa líder em Angola, oferecendo serviços especializados em logística, gestão de inventários e formação profissional. Potencialize sua operação com nossas soluções inovadoras." />

        <!-- Keywords -->
        <meta name="keywords"
            content="prolog soluções, logística angola, gestão de inventários, serviços logísticos, formação profissional, logística, consultoria, formação, Angola, soluções empresariais, logística 3PL, logística 4PL, cadeia de suprimentos, operações logísticas">


        <!-- Open Graph para redes sociais -->
        <meta property="og:title" content="Prolog Soluções LDA - Especialistas em Logística e Gestão de Inventários" />

        <meta property="og:description"
            content="Soluções logísticas, gestão de inventários e formação profissional para empresas em Angola." />

        <meta property="og:image" content="/assets/images/logo.png?v=<%= versao %>" />

        <meta property="og:url" content="https://prolog.ao" />

        <meta property="og:type" content="website" />

        <meta property="og:site_name" content="Prolog Soluções LDA" />

        <!-- Twitter Card -->
        <meta name="twitter:card" content="summary_large_image" />

        <meta name="twitter:title" content="Prolog Soluções LDA - Especialistas em Logística e Gestão de Inventários" />

        <meta name="twitter:description"
            content="Soluções logísticas, gestão de inventários e formação profissional para empresas em Angola." />

        <meta name="twitter:image" content="/assets/images/logo.png?v=<%= versao %>" />

        <meta name="twitter:site" content="@prolog_solucoes_lda" />

        <!-- Favicon -->
        <link rel="shortcut icon" href="/assets/images/favicon.ico" type="image/x-icon" />

        <!-- Links Internos -->
        <link rel="stylesheet" href="/assets/css/menu&footer.css?v=<%= versao %>" />
        <link rel="stylesheet" href="/assets/css/animacoes-min.css?v=<%= versao %>" />
        <link rel="stylesheet" href="/assets/css/negocio-min.css?v=<%= versao %>" />
        <link rel="stylesheet" href="/assets/icons/icons-min.css?v=<%= versao %>" />

        <!-- Canonical URL -->
        <link rel="canonical" href="https://prolog.ao/" />

        <!-- Robots: Instruções para indexação -->
        <meta name="robots" content="index, follow">

        <!-- Canonical URL (garante que esta é a versão oficial da página) -->
        <link rel="canonical" href="https://prolog.ao">
    </head>

<body>
    <%- include('partials/header') %>

    <section class="hero"></section>

    <section class="main">
        <p class="introP" style="text-align: center;"><strong>Na ProLog Soluções para Logística</strong>, compreendemos a importância vital que os ativos patrimoniais têm para qualquer organização. São os bens tangíveis que sustentam o funcionamento diário dos negócios, desde máquinas e equipamentos até veículos e instalações. Para garantir que esses ativos sejam devidamente geridos, otimizados e mantidos em perfeitas condições, oferecemos soluções de Inventário de Ativos Patrimoniais sob medida para atender às necessidades únicas da sua empresa.</p>
        <h2>O Inventário de Ativos Patrimoniais é Fundamental?</h2>
        <p>A gestão eficaz de ativos patrimoniais é um elemento crítico para o sucesso e a sustentabilidade das organizações. Um inventário preciso e atualizado ajuda a: <br><br>

            <strong>Reduzir Custos:</strong> Identificar ativos subutilizados ou obsoletos pode resultar em economias significativas.<br><br>

            <strong>Cumprir Regulamentações Angolanas:</strong> Em conformidade com as leis e regulamentos de Angola, muitos setores têm regulamentos rígidos sobre a manutenção de registos de ativos.<br><br>

            <strong>Melhorar a Eficiência:</strong> Conhecer a localização e o estado de cada ativo facilita a otimização da sua utilização.<br><br>

            <strong>Planeamento Estratégico:</strong> Os dados do inventário apoiam a tomada de decisões informadas em relação a investimentos e renovações.</p>
            <h2>Os Nossos Serviços para Inventários de Ativos Patrimoniais</h2>
            <p><strong>Na ProLog Soluções para Logística</strong>, oferecemos uma gama abrangente de serviços de inventário de ativos patrimoniais, incluindo:<br><br>

                <strong>Identificação e Registo:</strong> Identificamos e registamos todos os ativos da sua organização, incluindo detalhes como número de série, localização e estado, através do uso de etiquetas com registo QR ou Codigo de Barras.<br><br>

                <strong>Avaliação de Estado:</strong> Avaliamos o estado de cada ativo para determinar se é necessário reparações, manutenção ou substituição.<br><br>

                <strong>Rastreio e Monitorização:</strong> Implementamos sistemas de rastreio e monitorização através de etiquetas com registo QR/ RFID para acompanhar a movimentação e o uso dos ativos.<br><br>

                <strong>Relatórios Personalizados:</strong> Fornecemos relatórios detalhados que podem ser personalizados de acordo com as suas necessidades e regulamentações específicas.<br><br>

                <strong>Manutenção Preventiva:</strong> Ajudamos a desenvolver programas de manutenção preventiva para prolongar a vida útil dos seus ativos.</p>

                <h2>A Nossa Abordagem Personalizada</h2>

                <p>Entendemos que cada organização tem requisitos únicos quando se trata de inventário de ativos patrimoniais. Trabalhamos em estreita colaboração com os nossos clientes para desenvolver soluções personalizadas que se ajustam perfeitamente às suas operações e objetivos.<br><br>

                    <strong>Com a ProLog Soluções para Logística</strong>, pode ter a confiança de que os seus ativos patrimoniais estão a ser geridos de forma eficiente e estratégica, permitindo que se concentre no crescimento do seu negócio.<br><br>

                    Contacte-nos hoje para saber mais sobre como os nossos serviços de inventário de ativos patrimoniais.</p>
                    <center><a href="mailto:comercial@prolog.ao" class="btn">Peça mais informações</a></center>
                    <div class="image"><center><img src="/assets/images/inventario.png?v=<%= versao %> alt=""></center></div>
    </section>

    <%- include('partials/footer') %>

    <script src="/assets/js/script.js?v=<%= versao %>"></script>

    </body>
</html>
