<!DOCTYPE html>
<html lang="pt">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <% cssLinksCentralizados.forEach(link => { %>
        <link rel="stylesheet" href="<%= link %>">
    <% }) %>

        <!-- Google tag (gtag.js) analytics-->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-REJ5H0RCBN"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'G-REJ5H0RCBN');
        </script>

        <!-- SEO Title -->
        <title>
            Trabalhe conosco
        </title>

        <!-- Meta Description -->
        <meta name="description"
            content="A Prolog Soluções é uma empresa líder em Angola, oferecendo serviços especializados em logística, gestão de inventários e formação profissional. Potencialize sua operação com nossas soluções inovadoras." />

        <!-- Keywords -->
        <meta name="keywords"
            content="prolog soluções, logística angola, gestão de inventários, serviços logísticos, formação profissional, logística, consultoria, formação, Angola, soluções empresariais, logística 3PL, logística 4PL, cadeia de suprimentos, operações logísticas">


        <!-- Open Graph para redes sociais -->
        <meta property="og:title" content="Prolog Soluções LDA - Especialistas em Logística e Gestão de Inventários" />

        <meta property="og:description"
            content="Soluções logísticas, gestão de inventários e formação profissional para empresas em Angola." />

        <meta property="og:image" content="/assets/images/logo.png?v=<%= versao %>" />

        <meta property="og:url" content="https://prolog.ao" />

        <meta property="og:type" content="website" />

        <meta property="og:site_name" content="Prolog Soluções LDA" />

        <!-- Twitter Card -->
        <meta name="twitter:card" content="summary_large_image" />

        <meta name="twitter:title" content="Prolog Soluções LDA - Especialistas em Logística e Gestão de Inventários" />

        <meta name="twitter:description"
            content="Soluções logísticas, gestão de inventários e formação profissional para empresas em Angola." />

        <meta name="twitter:image" content="/assets/images/logo.png?v=<%= versao %>" />

        <meta name="twitter:site" content="@prolog_solucoes_lda" />

        <!-- Favicon -->
        <link rel="shortcut icon" href="/assets/images/favicon.ico" type="image/x-icon" />

        <!-- Links Internos -->
        <link rel="stylesheet" href="/assets/css/menu&footer.css?v=<%= versao %>" />
        <link rel="stylesheet" href="/assets/css/animacoes-min.css?v=<%= versao %>" />
        <link rel="stylesheet" href="/assets/css/negocio-min.css?v=<%= versao %>" />
        <link rel="stylesheet" href="/assets/icons/icons-min.css?v=<%= versao %>" />

        <!-- Canonical URL -->
        <link rel="canonical" href="https://prolog.ao/" />

        <!-- Robots: Instruções para indexação -->
        <meta name="robots" content="index, follow">

        <!-- Canonical URL (garante que esta é a versão oficial da página) -->
        <link rel="canonical" href="https://prolog.ao">
    </head>


<body>
    <%- include('partials/header') %>


    <section class="hero"></section>

    <section class="recrutamento">
        <div class="content">
            <h2>Recrutamento</h2>
            <p>Na ProLog Soluções para Logistica, Lda, estamos a construir o futuro da logística com paixão e inovação. <br><br>


                Se és apaixonado pela logística e procuras um ambiente dinâmico e desafiador, junta-te a nós.<br><br>


                Estamos à procura de talentos que queiram fazer a diferença no mundo da logística em Angola.</p><br>
            <a href="mailto:recrutamento@prolog.ao" class="btn">Candidatura espontânea</a>
        </div>
    </section>

    <section class="vagas">
        <h1>VAGAS EM ABERTO</h1>
        <h2>FORMADOR DE LOGISTICA M/F</h2>
        <h3>(refª:Prolog/For/2024)</h3>
        <p>Envie a sua candidatura / CV juntamente com uma carta de motivação, fazendo referencia no "Assunto" do email a referência que se candidata.</p>
        <a href="mailto:recrutamento@prolog.ao">recrutamento@prolog.ao</a>
    </section>

    <%- include('partials/footer') %>

    <script src="/assets/js/script.js?v=<%= versao %>"></script>

    </body>
</html>
